<style>body{
  background-color: lightcyan;
}

</style>
<button><%= link_to "Back", controller: :welcome  %></button>
<center><h1 style="color:darkblue;"><b>All Users</b></h1></center>
<table>
   <table class="table table-striped">
  <table class="table align-middle">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>

    </tr>
    <tbody>
      <tr>
        <%  @users.each do |user|%>
        <td><%= user.name %></td>
        <td><%= user.surname %></td>
        <td><%= user.email %></td>
    </tr>
    <%end%>
  </tbody>
</table>
