<style>body{
  background-color: lightcyan;
}
</style>
 <table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Date</th>
      <th scope="col">Day</th>
    </tr>
   
   <%   @published_articles.each do |article| %>
    <tr>
      <div class="badge bg-primary text-wrap" style="width: 6rem;">
      <td><%= article.title %></td> 
      <td><%= article.description %></td> 
      <td><%= article.Date  %></td>
      <td><%= article.Day %></td>
      
    <% end %>
    </div>
  <tr>
  </table>