<h1>Hello, <%= @user.name %></h1>

<p>A new article has been published in the <%= @article.category.name %> category:</p>

<h2><%= @article.title %></h2>
<p><%= @article.description %></p>

<p>Thank you for reading!</p>
